<link rel="import" href="../polymer/polymer.html">

<!--
`lrndesign-progress-spinner`
A LRN element

@demo demo/index.html
-->

<dom-module id="lrndesign-progress-spinner">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[title]]</h2>
  </template>

  <script>
    Polymer({

      is: 'lrndesign-progress-spinner',

      properties: {
        title: {
          type: String,
          value: 'lrndesign-progress-spinner',
        },
      },

    });
  </script>
</dom-module>
